- Ejercicios:
    - Actualiza el json de personal, añadiendo un año más a la edad y experiencia de cada registro de personal.
    - Cambia el nivel en función de la experiencia: Junior = 1 año, Mid = 2 o 3 años, Senior más de 4 años.
    - Cambia el salario en base al nivel: Junior = 25.000, Mid = 35.000, Senior = 50.000
    - Guarda el json con el nombre "personal_actualizado.json"
    - Abre el json con Pandas.

In [1]:
# importamos las librerías que necesitaremos

# Importar librería para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json

# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [2]:
with open("personal.json", "r") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    personal = json.load(fichero) # igualamos el archivo cargado a una variable para tenerlo almacenado

In [3]:
# Actualizamos el json de personal:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}

In [4]:
#Añadimos un año mas a cada registro de edad:
#buscamos la forma de acceder a edad:
type(personal['workers']) # sabemos que personal es un dict con una lista

list

In [5]:
#donde cada lista es un trabajador:
for i in personal['workers']: # accedemos a cada item de la lista y modificamos la edad que estará en i['edad']
    i['edad']+=1             # le susmamos 1.
print(personal)

{'workers': [{'nombre': 'Ana', 'edad': 35, 'experiencia': 5, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}, {'nombre': 'Eva', 'edad': 38, 'experiencia': 2, 'nivel': 'Mid', 'salario': 35000}, {'nombre': 'Marta', 'edad': 28, 'experiencia': 1, 'nivel': 'Junior', 'salario': 25000}, {'nombre': 'Paula', 'edad': 31, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}]}

In [6]:
#cambiamos el nivel en funcion de la experiencia:
for i in personal['workers']:
    if i['experiencia'] == 1:
        i['experiencia']= 'Junior'
        i['salario']= 25000
    elif 2<=i['experiencia'] >= 3:
        i['experiencia']= 'mid'
        i['salario']= 35000
    else:
        i['experiencia']= 'senior'
        i['salario']= 50000
print(personal)

{'workers': [{'nombre': 'Ana', 'edad': 35, 'experiencia': 'mid', 'nivel': 'Senior', 'salario': 35000, 'mascota': 'gatos'}, {'nombre': 'Eva', 'edad': 38, 'experiencia': 'senior', 'nivel': 'Mid', 'salario': 50000}, {'nombre': 'Marta', 'edad': 28, 'experiencia': 'Junior', 'nivel': 'Junior', 'salario': 25000}, {'nombre': 'Paula', 'edad': 31, 'experiencia': 'mid', 'nivel': 'Mid', 'salario': 35000}]}

In [8]:
#guardamos el json modificado en formato.json:
with open("personal_actualizado.json", "w") as fichero:
    json.dump(personal, fichero)

In [9]:
#abrimos el archivo con pandas:
df=pd.read_json("personal_actualizado.json")
df

                                             workers
0  {'nombre': 'Ana', 'edad': 35, 'experiencia': '...
1  {'nombre': 'Eva', 'edad': 38, 'experiencia': '...
2  {'nombre': 'Marta', 'edad': 28, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 31, 'experiencia':...