In [1]:
# 1
colores = ['azul','verde','amarillo','rojo','naranja','blanco']
print(colores)

['azul', 'verde', 'amarillo', 'rojo', 'naranja', 'blanco']

In [2]:
# 2
buses = [21,43,65]
print(buses)

[21, 43, 65]

In [3]:
# 3
temperaturas = [21,23,26,25,25,25,22]
print(temperaturas)

[21, 23, 26, 25, 25, 25, 22]

In [4]:
# 4 y 5
nombres = list('NuriA')
apellidos = list('Cano')
print(nombres)
print(apellidos)

['N', 'u', 'r', 'i', 'A']
['C', 'a', 'n', 'o']

In [5]:
# 6
len(buses)

3

In [6]:
# 7
len(apellidos)

4

In [7]:
# 8
t_max = max(temperaturas)
t_min = min(temperaturas)
print('Temp max:', t_max ,'\nTemp min:', t_min)

Temp max: 26
Temp min: 21

In [8]:
# 9
print('hay una \'e\' en nuria?', 'e' in nombres )

hay una 'e' en nuria? False

In [9]:
# 10
print('existe el color \'rosa\' en la siguiente lista?', '\n', colores, '\n', 'rosa' in colores)

existe el color 'rosa' en la siguiente lista?
 ['azul', 'verde', 'amarillo', 'rojo', 'naranja', 'blanco']
 False

In [10]:
# 11
print('Nuria no contiene una \'x\':', 'x' not in nombres )

Nuria no contiene una 'x': True

In [11]:
# 12
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()

print(temperaturas,'\n',temperaturas2,'\n', temperaturas3)

[21, 23, 26, 25, 25, 25, 22]
 [21, 23, 26, 25, 25, 25, 22]
 [21, 23, 26, 25, 25, 25, 22]

In [12]:
# 13
temperaturas2.clear()
print(temperaturas2)

[]

In [13]:
# 14
print(temperaturas,'\n',temperaturas2)

[21, 23, 26, 25, 25, 25, 22]
 []

In [14]:
# 15
nombres2 = nombres.copy()
nombres2

['N', 'u', 'r', 'i', 'A']

In [15]:
# 16
apellidos2 = apellidos.copy()
apellidos2

['C', 'a', 'n', 'o']

In [16]:
# 17
temperaturas3.sort()
temperaturas3

[21, 22, 23, 25, 25, 25, 26]

In [17]:
# 18
nombres2.sort()
apellidos2.sort()

print(nombres2, '\n', apellidos2)

['A', 'N', 'i', 'r', 'u']
 ['C', 'a', 'n', 'o']

In [18]:
# 19
print('mi nombre tiene',nombres.count('A'), 'a\'s y',nombres.count('o'), 'o\'s')

mi nombre tiene 1 a's y 0 o's

In [19]:
# 20
print(nombres.count('A') == nombres2.count('A'),
     '\n', nombres.count('o') == nombres2.count('o') )

True
 True

In [20]:
# 21
print('number of times this week of max temp:',temperaturas.count(t_max),
      '\n', 'number of times this week of min temp:',temperaturas.count(t_min))

number of times this week of max temp: 1
 number of times this week of min temp: 1

In [21]:
# 22
dias_en = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
dias_en

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [22]:
# 23
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                            12, 11, 13, 17, 18, 15, 
                            15, 17, 17, 13, 13, 11,
                            12, 10, 12, 14, 12, 12,
                            11, 12, 16, 16, 14, 17, 18]

In [23]:
# 24
dias_en[-2]

'saturday'

In [24]:
# 25
temperaturas_diciembre[-1]

18

In [25]:
# 26
print('existe \'friday\' en la lista?', 'friday' in dias_en, 
      '\n', 'en que posicion?',dias_en.index('friday'))

existe 'friday' en la lista? True
 en que posicion? 4

In [28]:
# 27
max(temperaturas_diciembre)

18

In [31]:
# 28
dias_en.index('wednesday')

2

In [37]:
# 30
print('La temperatura máxima esta semana será', max(temperaturas_diciembre),'ºC, que ocurrirá en', temperaturas_diciembre.index(max(temperaturas_diciembre)) ,'días(s). El día más frío tendrá una temperatura máxima de',min(temperaturas_diciembre),'ºC, que ocurrirá en',temperaturas_diciembre.index(min(temperaturas_diciembre)),'día(s)')

La temperatura máxima esta semana será 18 ºC, que ocurrirá en 10 días(s). El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 0 día(s)