EJERCICIOS DE API´s

1.  Utilizando la API de Balldontlie extrae la siguiente información. 

 - El nombre, apellido y equipo de cada uno de los jugadores que tenemos en la NBA. Para eso tendrás que usar el [siguiente](http://api.balldontlie.io/v1/players) endpoint. Extrae información de los jugadores.

In [1]:
import pandas as pd
import requests

In [2]:
api_key = '0e873f63-8bcb-47c8-b2aa-d0c09faba1f4'
headers = {"Authorization": api_key}

In [3]:
def llamar_api(url, headers):    
    llamada = requests.get(url, headers=headers)
    print(f"La llamada a la API nos ha dado una respuesta de tipo: {llamada.status_code}")
    
    if llamada.status_code != 200:
        print(f"El motivo por el que la llamada falló es {llamada.reason}")
    else:
        return llamada.json()

In [4]:
url_jugadores = "http://api.balldontlie.io/v1/players"
   
json_jugadores = llamar_api(url_jugadores, headers)

La llamada a la API nos ha dado una respuesta de tipo: 200

In [5]:
len(json_jugadores)

2

In [6]:
json_jugadores.keys()

dict_keys(['data', 'meta'])

In [14]:
len(json_jugadores['data'])

25

In [23]:
info_jugador = {"nombre": [], "apellido": [], "equipo":[] }

def limpiar_datos(json_datos,dic_resultados):
        for jugador in json_jugadores['data']:
                dic_resultados['nombre'].append(jugador['first_name'])
                dic_resultados['apellido'].append(jugador['last_name'])
                dic_resultados['equipo'].append(jugador['team']['name'])
        return dic_resultados

In [17]:
info_jugador = limpiar_datos(json_jugadores,info_jugador)
info_jugador

{'nombre': ['Alex',
  'Jaylen',
  'Steven',
  'Bam',
  'DeVaughn',
  'LaMarcus',
  'Rawle',
  'Grayson',
  'Jarrett',
  'Al-Farouq',
  'Justin',
  'Kyle',
  'Ryan',
  'Ike',
  'Giannis',
  'Kostas',
  'Carmelo',
  'OG',
  'Ryan',
  'Trevor',
  'D.J.',
  'Deandre',
  'Dwayne',
  'Marvin',
  'Ron'],
 'apellido': ['Abrines',
  'Adams',
  'Adams',
  'Adebayo',
  'Akoon-Purcell',
  'Aldridge',
  'Alkins',
  'Allen',
  'Allen',
  'Aminu',
  'Anderson',
  'Anderson',
  'Anderson',
  'Anigbogu',
  'Antetokounmpo',
  'Antetokounmpo',
  'Anthony',
  'Anunoby',
  'Arcidiacono',
  'Ariza',
  'Augustin',
  'Ayton',
  'Bacon',
  'Bagley III',
  'Baker'],
 'equipo': ['Thunder',
  'Hawks',
  'Rockets',
  'Heat',
  'Nuggets',
  'Nets',
  'Bulls',
  'Suns',
  'Cavaliers',
  'Trail Blazers',
  'Pacers',
  'Timberwolves',
  'Pelicans',
  'Pacers',
  'Bucks',
  'Bulls',
  'Lakers',
  'Knicks',
  'Knicks',
  'Lakers',
  'Lakers',
  'Trail Blazers',
  'Lakers',
  'Wizards',
  'Knicks']}

In [19]:
df_info_jugador = pd.DataFrame(info_jugador)
df_info_jugador[:5]

     nombre       apellido   equipo
0      Alex        Abrines  Thunder
1    Jaylen          Adams    Hawks
2    Steven          Adams  Rockets
3       Bam        Adebayo     Heat
4  DeVaughn  Akoon-Purcell  Nuggets

 - Extrae información de todos los equipos, 
 *  la conferencia a la que pertenece
 *  la ciudad
 *  el nombre y su abreviacion.

In [21]:
url_equipos = "https://api.balldontlie.io/v1/teams"

json_equipos = llamar_api(url_equipos,headers)

La llamada a la API nos ha dado una respuesta de tipo: 200

In [22]:
json_equipos.keys()

dict_keys(['data'])

In [46]:
info_equipos = {"id": [], "conference": [], "city":[], "full_name" : [], "name":[]}

def limpiar_datos(json_datos,dic_resultados):
        for equipo in json_equipos['data']:
                dic_resultados['id'].append(equipo['id'])
                dic_resultados['conference'].append(equipo['conference'])
                dic_resultados['city'].append(equipo['city'])
                dic_resultados['full_name'].append(equipo['full_name'])
                dic_resultados['name'].append(equipo['name'])
                
        return dic_resultados

In [47]:
info_equipos = limpiar_datos(json_jugadores,info_equipos)
info_equipos

{'id': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51],
 'conference': ['East',
  'East',
  'East',
  'East',
  'East',
  'East',
  'West',
  'West',
  'East',
  'West',
  'West',
  'East',
  'West',
  'West',
  'West',
  'East',
  'East',
  'West',
  'West',
  'East',
  'West',
  'East',
  'East',
  'West',
  'West',
  'West',
  'West',
  'East',
  'West',
  'East',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    ',
  '    '],
 'city': ['Atlanta',
  'Boston',
  'Brooklyn',
  'Charlotte',
  'Chicago',
  'Cleveland',
  'Dallas',
  'Denver',
  'Detroit',
  'Golden State',
  'Houston',
  'Indiana',
  'LA',
  'Los Angeles',
  'Memphis',
  'Miami',
  'Milwaukee',
  'Minnesota',
  'New Orleans',
  'New York',
  'Oklahoma City',
  'Orlando',
  'Philadelphia',
  'Phoenix',
  'Portland',
  'Sacramento',
  'San Antonio',
  'Toronto',
  'Utah',
  'Washington',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 'full_name': ['Atlanta Hawks',
  'Boston Celtics',
  'Brooklyn Nets',
  'Charlotte Hornets',
  'Chicago Bulls',
  'Cleveland Cavaliers',
  'Dallas Mavericks',
  'Denver Nuggets',
  'Detroit Pistons',
  'Golden State Warriors',
  'Houston Rockets',
  'Indiana Pacers',
  'LA Clippers',
  'Los Angeles Lakers',
  'Memphis Grizzlies',
  'Miami Heat',
  'Milwaukee Bucks',
  'Minnesota Timberwolves',
  'New Orleans Pelicans',
  'New York Knicks',
  'Oklahoma City Thunder',
  'Orlando Magic',
  'Philadelphia 76ers',
  'Phoenix Suns',
  'Portland Trail Blazers',
  'Sacramento Kings',
  'San Antonio Spurs',
  'Toronto Raptors',
  'Utah Jazz',
  'Washington Wizards',
  'Chicago Stags',
  'St. Louis Bombers',
  'Cleveland Rebels',
  'Detroit Falcons',
  'Toronto Huskies',
  'Washington Capitols',
  'Providence Steamrollers',
  'Pittsburgh Ironmen',
  'Baltimore Bullets',
  'Indianapolis Jets',
  'Anderson Packers',
  'Waterloo Hawks',
  'Indianapolis Olympians',
  'Denver Nuggets',
  'Sheboygan Redskins'],
 'name': ['Hawks',
  'Celtics',
  'Nets',
  'Hornets',
  'Bulls',
  'Cavaliers',
  'Mavericks',
  'Nuggets',
  'Pistons',
  'Warriors',
  'Rockets',
  'Pacers',
  'Clippers',
  'Lakers',
  'Grizzlies',
  'Heat',
  'Bucks',
  'Timberwolves',
  'Pelicans',
  'Knicks',
  'Thunder',
  'Magic',
  '76ers',
  'Suns',
  'Trail Blazers',
  'Kings',
  'Spurs',
  'Raptors',
  'Jazz',
  'Wizards',
  'Chicago Stags',
  'St. Louis Bombers',
  'Cleveland Rebels',
  'Detroit Falcons',
  'Toronto Huskies',
  'Washington Capitols',
  'Providence Steamrollers',
  'Pittsburgh Ironmen',
  'Baltimore Bullets',
  'Indianapolis Jets',
  'Anderson Packers',
  'Waterloo Hawks',
  'Indianapolis Olympians',
  'Denver Nuggets',
  'Sheboygan Redskins']}

In [48]:
df_info_equipos = pd.DataFrame(info_equipos)
df_info_equipos[:5]

   id conference       city          full_name     name
0   1       East    Atlanta      Atlanta Hawks    Hawks
1   2       East     Boston     Boston Celtics  Celtics
2   3       East   Brooklyn      Brooklyn Nets     Nets
3   4       East  Charlotte  Charlotte Hornets  Hornets
4   5       East    Chicago      Chicago Bulls    Bulls