1. Haz las importaciones necesarias para establecer la conxión y trabaar con Pandas.Establece la conexión usando mysql.connector utilizando try/except por si la conexión devielve un error.

In [21]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [22]:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')

print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x00000156831C4E10>

2. Crea un nuevo "schema" llamado "alumnas-promo-X"

In [23]:
# iniciamos el cursor                               
mycursor = cnx.cursor() 

try:
    mycursor.execute("CREATE SCHEMA alumnas_promo_h")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE SCHEMA alumnas_promo_h

3. Crea una tabla con la información de las alumnas de la promo. Debe incluir: id_alumna, nombre, apellidos, ciudad y teléfono.

In [27]:


cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE alumnas_promo_h")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'alumnas_promo_h'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'alumnas_promo_h'; database exists

In [26]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database=alumnas_promo_h)


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE alumnas(id_alumna MEDIUMINT, nombre VARCHAR(30), apellidos VARCHAR(30), ciudad VARCHAR(50), telefono INT )")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

NameError: name 'alumnas_promo_h' is not defined